/.bundle
/.env*
/.mise.local.toml
/config/credentials/*.key
/config/master.key
/coverage
/log/*
/spec/examples.txt
/storage/*
/tmp/*
/vendor/bundle

!/log/.keep
!/storage/.keep
!/tmp/.keep
!/tmp/pids/
!/tmp/pids/.keep
!/tmp/storage/
!/tmp/storage/.keep
